<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>21/06/07 07:09:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingleLineOrder.SingleOrderTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@64d7f7e0]">SingleOrderTest</td> 
  <td>main@1447499999</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/06/07 07:10:02</td>   <td>43292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SingleLineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@64d7f7e0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1447499999</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/06/07 07:09:15</td>   <td>-3736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SingleLineOrder.beforeMethod(org.testng.ITestContext)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@64d7f7e0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1447499999</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/06/07 07:10:02</td>   <td>43405</td> <td>&nbsp;</td><td title="&lt;&lt;SingleLineOrder.tearDown()[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@64d7f7e0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447499999</td>   <td></td> </tr>
</table>
