<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Threadsy Orders Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:33:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultilineOrder.AddMultipleItemsTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">AddMultipleItemsTest</td> 
  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:33:31</td>   <td>10615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultilineOrder.AddMultipleItemsTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">AddMultipleItemsTest</td> 
  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:33:41</td>   <td>20204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultilineOrder.AddMultipleItemsTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">AddMultipleItemsTest</td> 
  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:35:09</td>   <td>108412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultilineOrder.MultiOrderTest()[pri:2, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">MultiOrderTest</td> 
  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="f6b672">  <td>21/06/03 14:32:35</td>   <td>-45428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingleLineOrder.SingleOrderTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@3b088d51]">SingleOrderTest</td> 
  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="f6b672">  <td>21/06/03 14:33:20</td>   <td>-93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SingleLineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@3b088d51]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:33:31</td>   <td>10600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultilineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:33:41</td>   <td>20201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultilineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:35:09</td>   <td>108409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultilineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:35:21</td>   <td>120881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultilineOrder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="f6b672">  <td>21/06/03 14:32:31</td>   <td>-49624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SingleLineOrder.beforeMethod(org.testng.ITestContext)[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@3b088d51]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:32:22</td>   <td>-58196</td> <td>&nbsp;</td><td title="&gt;&gt;MultilineOrder.beforeTest()[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="7d617d">  <td>21/06/03 14:35:21</td>   <td>120886</td> <td>&nbsp;</td><td title="&lt;&lt;MultilineOrder.tearDown()[pri:0, instance:com.threadsy.qa.testcases.MultilineOrder@53f65459]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
<tr bgcolor="f6b672">  <td>21/06/03 14:35:22</td>   <td>121402</td> <td>&nbsp;</td><td title="&lt;&lt;SingleLineOrder.tearDown()[pri:0, instance:com.threadsy.qa.testcases.SingleLineOrder@3b088d51]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@289639718</td>   <td></td> </tr>
</table>
